body {
background-color: lavender;
font-family: Monospace;
display: flexbox;
justify-content: center;
flex-direction: column;
}

#header {
    background-color: skyblue;
    width: 70%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
} 
   
#logo {
    height: 150px;
    float: left;
}

#h1Tag {
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 10px 10px;
    text-align: right;
}

#mainArea {
    width: 60%;
    margin: 0 auto;
}

li {
    width: 400px;
}

#inputBox {
    width: 450px;
}
