body {
    font-family: monospace;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

img {
    width: 70%;
    height: 150px;
}

#headingContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    background-color: #85cee9;
}

#headingDiv {
    display: grid;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    left: 450px;
}

#movieTicket {
    width: 60%;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#textField {
    width: 400px;
    position: relative;
    right: 157.9px;
}

ul {
    position: relative;
    right: 300px;
}

#submit {
    position: relative;
    right: 150px;
}

h3 {
    font-weight: bold;
}

select {
    position: relative;
    right: 330px;
}