/*  Joseph P. Pasaoa
    Unit 2 Assessment: Studio Ghibli Review App
*/



html, body, div#base-grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: lavender;
  
  text-align: center;
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}

a:link, a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

a:hover, a:active {
  color: salmon;
  text-decoration: none;
}

div#base-grid {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: min-content auto min-content;
  justify-items: stretch;
}

div#header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  height: 150px;
  width: 70%;
  margin: 0 auto 30px auto;
  padding: 10px;

  background-color: skyblue;
}

h1 {
  transition: color 0.8s;
}

div#header > img {
  height: 150px;
}

div#mainstage {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 60%;
  margin: 0 auto;

  text-align: left;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

div#selectrow {
  padding-bottom: 4px;
  border-bottom: solid 1px #444;
  margin-bottom: 17px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

select#filmselect, form#reviewform input[type="submit"] {
  border: 2px outset;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
}

::placeholder {
  color: darkgoldenrod;
}

select#filmselect {
  margin-top: 3px;
  margin-left: 9px;
  font-family: 'Ubuntu Mono', 'Courier New', Courier, monospace;
}

div#currentfilm {
  padding-bottom: 15px;
  border-bottom: solid 1px #444;
  margin-bottom: 15px;
}

h3 {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;

  font-size: 1.5em;
  font-style: italic;
}

h3 + p {
  color: brown;
  margin-block-start: 0em;
  margin-block-end: 1em;
}

form#reviewform {
  padding-bottom: 4px;
  border-bottom: solid 1px #444;
  margin-bottom: 17px;
}

form#reviewform input#newreview {
  display: block;
  margin: 5px 0;
  padding-left: 5px;
  padding-right: 5px;
  width: 400px;

  border: 2px inset #fff;
  outline: none;
  background: rgba(255,255,255,0.7);
}

div#subtext {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

form#reviewform input[type="submit"] {
  width: auto;
  margin-right: 44px;
}

div#formerrors {
  color: red;
  padding-right: 20px;
}

ul {
  list-style: none;
  padding-inline-start: 33px;
  padding-inline-end: 33px;
}

li {
  font-size: 0.85em;
  color: brown;
  padding-bottom: 20px;
}

li strong {
  color: purple;
  text-transform: uppercase;
  font-weight: 900;
}

div#footer {
  padding: 6px 11px;
  width: 55%;
  margin: 0 auto;
  border-top: solid 1px #444;

  font-size: 0.8em;
}



@media (max-width: 799px) {
  div#base-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  div#header {
    background-image: url("./logoSG.png");
    background-repeat: no-repeat;
    background-size: 45vw auto;
    background-position: center 94%;

    height: 150px;
    width: 92%;
    margin-top: 3px;
    margin-bottom: 8px;
  }

  h1 {
    height: inherit;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0 auto;
    font-size: 2.65em;
    color: white;
    text-align: center;
  }

  div#header > img {
    display: none;
  }

  select#filmselect, form#reviewform input[type="submit"] {
    margin-top: -1px;
    border: 2px outset;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
  }

  div#mainstage {
    width: 93%;
    line-height: 1.5em;
  }

  h3 {
    font-size: 1.7em;
    font-style: italic;
  }

  h3 + p {
    color: #666;
    margin-block-start: 0em;
    margin-block-end: 1em;
  }

  p + p {
    margin-block-start: 1em;
  }

  form#reviewform {
    padding-bottom: 7px;
  }

  form#reviewform > input[type="text"] {
    width: 95%;
  }

  ul {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }

  div#footer {
    margin-top: auto;
    padding: 6px 31px;
    width: 74%;
    border-top: solid 1px #444;
  }
}