body{
   height: 100vh;
    background-color:lavender;
}

header{
    background-color: lightblue;
    top: 5px;
    left: 40px;
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto;
    height: 165px;
    width: 70%;
    justify-content: space-between;
    flex-direction: row-reverse;
}

header img{ 
    /* background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/ca/Studio_Ghibli_logo.svg/1200px-Studio_Ghibli_logo.svg.png); */
    position: relative;
   
    width: 200px;
    height: 150px;
    /* z-index: 5; */
}

#mainContainer {
    display: block;
 position: fixed;
    left: 20%;
}