body {
  align-content: center;
  background-color: lavender;
  display: grid;
  font-family: monospace;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 2fr 1fr;
}

form {
  display: none;
}

header {
  background-color: skyblue;
  grid-column: 1 / 3;
  height: 150px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  width: 70%;
}

main {
  /* width: 60%; */
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

#dropdownBox {

}

#ghibliLogo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: inherit;
}

#pageHeader {
  float: right;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#selectedMovieInfoSection {

}

#userReview {
  width: 400px;
}
