body {
  background-color: lavender;
  display: grid;
  font-family: monospace;
  //you need to arrange everything in a column, centered width-wise
}

header {
  //what do you need to have logo come up horizontally to left of h1 tag
  align-content: center;    //img, h1 text should be in the center of the div
  background-color: skyblue;
  height: 150px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px;
  width: 70%;
}

h1 {

}

main {
  /*content in column*/
  justify-content: left;
  width: 60%;
}

#ghibliLogo {
  //does this inherit the header section's 150px height or do you need to
    //name it directly?
  height: inherit;
}

#selectedMovieInfoSection {
  
}

#userReview {
  width: 400px;
}
